---
layout: default
---
{% if page.cv_pdf %}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Redirecting...</title>
      <script>
        window.location.replace("{{ 'assets/pdf/' | append: page.cv_pdf | relative_url }}");
      </script>
    </head>
    <body></body>
  </html>
{% endif %}
